$border : #2124291f;
$dark : #212429;
$light : #fafcff;
$index: #fafcff;
$col1: #fafcff;
$col2: #fafcff;
$prim: #ddaaff;
$sec: #fafcff;

*{
  box-sizing: border-box !important;
}
body{
  padding: 10px;
}
.ogg-table{
  min-width: 800px;
  max-width: 800px;
  background-color: #ffa4;
  display: flex;
  overflow-x: scroll;
  text-align: left;
  font-size: 18px;
  border: 4px solid $dark;
  
  &::-webkit-scrollbar { 
    background-color: $light;
    height: 10px;          
    width: 10px;           
    border: 1px solid $dark;
  }
  &::-webkit-scrollbar-button{
    background-color: $dark;
  }
  &::-webkit-scrollbar-thumb{
    background-color: $prim;
    border-radius: 50px;
  }


  &-collapse-target{
    background-color: $light;
    color: $dark;
    border: 1px solid $dark;
    border-left-width: 0px;
    min-width: 800px;
    max-width: 800px;
    position: absolute;
    padding: 10px;
    display: flex;
    cursor: pointer;
    box-shadow : 0 0  16px 1px  rgba($dark, 0.2);

  }

  &-grid{
    display: block;
    background-color: #aff4;
    &-col{
      text-overflow: ellipsis;
      border: 1px solid $border;
  
      &:nth-of-type(2n+1){
        background-color: $col1;
      }
      &:nth-of-type(2n){
        background-color: $col2;
      }
    }

    &-cell{
      border: 1px solid $border;
      border-left-color: transparent;
      border-right-color: transparent;
      padding: 12px;
    }
  }

  &-index{
    background-color: $index;
    position: sticky;
    left: 0;
    border: 1px solid $border;
    border-left-width: 0px;
    display: block;
    box-shadow: 0 0  16px 1px  rgba($dark, 0.2);

    &-cell{
      display: block;
      border: 1px solid $border;
      
      padding: 10px;
    }
  }
}